{% extends 'base/base_dashboard.html' %}
{% block title %}Eliminar Stock{% endblock %}

{% block inner_content %}
<form id="deleteForm" method="post">
  {% csrf_token %}
</form>

<!-- SweetAlert2 desde CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    Swal.fire({
      title: '¿Estás seguro?',
      html: `
        <p><strong>Producto:</strong> {{ object.product.name }}</p>
        <p><strong>Ubicación:</strong> {{ object.location.name }}</p>
        <p><strong>Cantidad:</strong> {{ object.quantity }}</p>
      `,
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#3085d6',
      confirmButtonText: 'Sí, eliminar',
      cancelButtonText: 'Cancelar'
    }).then((result) => {
      if (result.isConfirmed) {
        document.getElementById("deleteForm").submit();
      } else {
        // Redirige al listado de stock si cancela
        window.location.href = "{% url 'inventory_stock:stock_list' %}";
      }
    });
  });
</script>
{% endblock %}
